<div id="terms-container">

<h2 id=#title><b>TERMS AND CONDITIONS</b></h2>

<span>These units do not carry any warranty or implication of repair or servicing by us or the
manufacturer. We rarely sell these units except to other fitness refurbishers. Instead, we prefer
to strip these units for parts than to provide our customers with a subpar product or user
experience. We do not recommend our clients purchasing used units from us or competitors
since maintenance/service history are usually non-existent.</span>

<h3><b>SERVICED AND CLEANED:</b></h3>

<span>Marginally better than used units are units that are designated as serviced and cleaned. Some
of our clients want to purchase units as inexpensively as possible, but do not want to roll the
dice on quality. Since we have in-house technicians, we do offer our clients the opportunity to
purchase a unit that has been tested, tuned and detailed by us. Note that many online competitors offer serviced and cleaned units. Be extra cautious when selecting one of these units since it is often very easy for them to touch up a used unit on the outside and call it "serviced" on the inside without actually performing the work.</span>

<h3><b>REFURBISHED:</b></h3>

<span>Products in this designation are as close to being in new condition as physically possible. All
work performed on factory refurbished equipment are done by certified manufacturer
technicians. All machines start off as used product that have been reacquired from trade
shows, consumers and gyms.. All broken or worn parts are replaced and any reused parts and shrouds are completely cleaned.
Any missing or torn decals are replaced with brand new parts. Before reassembly, each
machine is professionally tuned and detailed by our trained technicians.
We prefer selling units as fully refurbished due to the fact that we are able to completely
control the condition of the products that leave our facilities. We also find that our customers
prefer refurbished units since the end product is a machine that is aesthetically appealing
and mechanically sound.</span>

<h3><b>SHIPPING</b></h3>

<span>We ship our equipment fully assembled on a pallet, It will come to you curbside delivery! We ask that when the shipment comes to you that prior to signing the BOL, that you inspect the
package for damages. If you see any damages, notate it on the form, take photos and then
accept the package. Doing so will allow us to file a claim on your behalf with the freight
company for the repairs. Failure to note the damages will result in the freight company denying the claim.</span>

<h3><b>SHIPPING METHOD:</b></h3>

<span>Once the item leaves our warehouse (approximately 1week after payment), the Shipping
Method you choose determines how quickly your shipped item delivers to your doorstep.</span>

<h3><b>PICKUP:</b></h3>

<span>We offer pickup for most items purchased on our website. Please contact us to schedule a date &nbsp; time for pick up.</span>

<h3><b>OPTIONAL:</b></h3>

<span>Assembly and/or installation service is available; please request a quote prior to purchase since this can not be added after eBay checkout has been made.</span>

<h3><b>PAYMENT:</b></h3>

<span>We accept all types of payments. Payment must be made 24 hours after purchase. If picking up we may require partial payment then full payment once machine is picked up.</span>

<h3><b>ABOUT US:</b></h3>

<span>We are located in the San Francisco Bay Area and we have over 20 years combined experience in Fitness Equipment Repair. Our main priority is always safety. We will never sell anything that does not pass this standard. Always feel free to contact us before and after purchase. Are goal is your satisfaction.</span>

<h3><b>CONTACT:</b></h3>

<span>925-766-1784</span>
<span>Call or Text OK.</span>


</div>