<footer >
  <div class='footer-wrapper row '>
    <div class='contact col-md'>
      <p class='title'> CONTACT </p>
      <p class="contact"> fitgymparts@gmail.com </p>
      <p class="contact"> 415-238-1419 </p>

    </div>
<!--
    <div class='footer-navigation col-md'>
        <h2> NAVIGATE </h2>
        <h4> HOME </h4>
        <h4> SHOP </h4>
        <h4> ABOUT </h4>
    </div> -->
  </div>
</footer>
